.box-1 {
    width: 800px;
    height: 400px;
    padding: 50px;
    border: 10px solid black;
    background: plum;
}

.box-2 {
    width: 800px;
    height: 400px;
    padding: 50px;
    border: 10px solid black;
    background: plum;
    box-sizing: border-box;
}